{% extends 'base.html.twig' %}

{% block body %}
    <h1>Server Side Rendering !</h1>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('react-header-loader') }}
{% endblock %}